@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #0b1224;
  --color-secondary: #67e8cf;
  --color-accent: #a78bfa;
  --color-dimWhite: rgba(234, 242, 255, 0.76);
  --color-dimBlue: rgba(103, 232, 207, 0.12);
  --font-poppins: Poppins, sans-serif;

  --breakpoint-xs: 30rem;
  --breakpoint-ss: 38.75rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 66.25rem;
  --breakpoint-lg: 75rem;
  --breakpoint-xl: 106.25rem;
}

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #a78bfa -278.56%,
    #344668 -78.47%,
    #17213a 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #d5fff4 0.89%,
    #a9f5df 17.23%,
    #67e8cf 42.04%,
    #92cbef 71.54%,
    #a78bfa 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #d5fff4 -43.27%,
    #a9f5df -21.24%,
    #67e8cf 12.19%,
    #86cfdd 51.94%,
    #a78bfa 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #a78bfa -278.56%,
    #344668 -78.47%,
    #17213a 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #a78bfa -278.56%,
    #344668 -78.47%,
    #17213a 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #17213a 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #243351 0%, #17213a 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(103, 232, 207, 0) 0%, #2c6e91 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #a78bfa 0%, #7254c5 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(174, 255, 226, 0.35);
  filter: blur(750px);
}
